{% extends 'shop/basic.html' %}
{% block title %}Homedecore Page{% endblock %}
{% block css %}
h1.para{
    text-align:center;
    font-family: bold;
    font-weight: 1000;
    padding-top: 1.5em;
    color:orange;
}
p.para{
    font-size:30px;
    font-family: bold;
    font-weight: 1000;
    padding-top: 1.5em;
    color:grey;
}
hr.page1 {
    border: 1px solid orange;
  }
p.par{
    text-align:center;
    font-weight: 500;
    padding-top: 1.5em;
}
{% endblock %}
{% block body %}
<div class="container">
    <h1 class='para'>HomeDecore Store</h1>
    <hr class='page1'>
    <p class='par'>Because we can</p>
    <p class='para'>Three ways modern office design can attract and retain the best people</p>
    <p class='par'>Businesses across every sector face the same issue when it comes to their staff.
         They want to attract the best people but they also want to make sure that,
         once they’ve found them, they keep them in the business.</p>
    <p class='par'>It’s tempting to think that a few unusual or creative elements in the office will
         be enough to make the working environment interesting and engaging.

    </p>
    <p class='par'>One size does not fit all and every organisation will be
         different. However, here are three approaches to modern office design
         that you can mix and match to create a workspace that should help to attract and retain the best people.</p>
         <p class="par">An agile, versatile workplace design offers a different room
              for every task. Some might need a standing desk for an energetic meeting. Others
               a break-out space with whiteboard walls for an interactive
              presentation. While someone else might need a quiet room for a private meeting.</p>
</div>
{% endblock %}