{% extends 'shop/basic.html' %}

{% block title%} Search Results{% endblock %}


{% block css %}
.col-md-3
{
display: inline-block;
margin-left:-4px;
}
.carousel-indicators .active {
background-color: blue;
}
.col-md-3 img{
width: 170px;
height: 200px;
}
body .carousel-indicator li{
background-color: blue;
}
body .carousel-indicators{
bottom: -40px;
}
.carousel-indicators li {


    background-color: #7270fc;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}
.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
padding-top: 222px;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
{% endblock %}
{% block body %}
{% load static %}
<div class="container">
    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active">
                  
      {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <p style="text-align: center; padding-top: 2px;"><img src='/media/{{i.image}}' class="card-img-top" alt="..."></p>
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc|slice:"0:53"}}....</p>
              <h6 class="card-title" ><b>Price. </b><span id="pricepr{{i.id}}">{{i.price}}</span> </h6>
              <span id="divpr{{i.id}}" class="divpr">
              <button id='pr{{i.id}}' class="btn btn-outline-danger mecart  ">BOOK NOW</button>
                </span>
              <a href="/www.VaayuInterior.in/productview/{{i.id}}"><button id='view{{i.id}}' class="btn btn-outline-danger mecart mx-4">VIEW</button></div>
              </a>
              </div>
        </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- left and right controls for the slide -->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block js %}
<script>
{% if msg|length != 0 %}
alert('{{msg}}');

window.location.href="/www.VaayuInterior.in"
{% endif %}  if(localStorage.getItem('mecart') == null){
    var mecart = {};
    }
    else
    {
    mecart = JSON.parse(localStorage.getItem('mecart'));
    var sum=0;
    for (var item in mecart){
      sum = sum + mecart[item][0];
    }
    document.getElementById('mecart').innerHTML= sum;
    }
    $('.mecart').click(function(){
    var idstr = this.id.toString();
    if (mecart[idstr] != undefined){

    mecart[idstr][0] = mecart[idstr][0] + 1;
    }
    else
    {
    console.log('2');
    quantity =1;
    name = '{{product.product_name}}';
    price = '{{product.price}}';
    mecart[idstr] = [quantity, name, parseInt(price)]; 
    }
    var sum=0;
    for (var item in mecart){
      sum = sum + mecart[item][0];
    }
    localStorage.setItem('mecart', JSON.stringify(mecart));
    document.getElementById('mecart').innerHTML= sum;
    });
    $('#popcart').popover();
    document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');
    </script>
    {% endblock %}